* {
    margin: 0;
    padding: 0;
}
:root{
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue' ,sans-serif;
    --fonte-android: 'android', Cursive;
}
@font-face {
    font-family:'android';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype')
}
header{
    background-image: linear-gradient( to bottom, #03A64A, #025940);
    padding-top:  30px;
    min-height: 150px;
    
}

 header > h1 {
    text-align: center;
    color: white;
    font-family:var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.459);
    font-weight: normal;
}

header > P {
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
    padding: 20px;
    font-family:var(--fonte-padrao);
    max-width: 500px; 
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
}
nav> a:hover {
    background-color: #64ad95c9;
    color: #023829;
}
nav{
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.158);
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-family: var(--fonte-padrao);
    border-radius: 5px;
    transition-duration: .5s;

}
body {
    background-color: #04bf8aaf;
}
main{
   
    margin: auto;
    background-color: white;
    min-width: 280px;
    max-width: 800px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
    
 
    
}
main > article > h1 {
    font-family:var(--fonte-android);
    padding-bottom: 20px;
    color: #025940;
    font-weight: normal;
    font-size: 1.8em;
    
 
}
main > article > h2 {
    font-family: 'android';
    padding: 20px 5x 0px;
    color: #025940;
    background-image:linear-gradient( to right, #03a64a33, transparent );
    text-indent: 10px;
    font-weight: normal;
    font-size: 1.3em;
}
main > article > p{
    font-family:var(--fonte-padrao);
    text-align: justify;
    text-indent: 30px;
    padding: 20px 0px;


}
main > article > aside > p {
    font-family:var(--fonte-padrao);
}
main > article >  img{
    padding: 20px 0px;
    display: block;
    margin: auto;
    max-width: 280px;
    
}
main strong {
    color: #036146;
}
main a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    background-color: #02703271;
}
main a:hover{
    text-decoration: underline;
    color: white;
}
.video > iframe  {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;

}
.video {
    padding: 20px;
    background-color: #025940;
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}
main ul{
    display: inline-block;
    padding-top: 20px;
    font-family: sans-serif;
    text-indent: 30px;
}
aside h3{
    background-color: #03A64A;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: var(--fonte-padrao);
}
aside{
    background-color: #04bf8a3f;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.795);
    
}
aside p{
    padding: 10px;
    text-indent: 30px;
    
}
aside ul{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;

    

}
a.external::after {
    content:'\1F517';
}

footer {
    background-color: #025940;
    padding: 10px;
    color: white;
    font-family:var(--fonte-padrao);
    text-align: center;
    margin-top: 20px;
}
footer  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: #03a64aad;
}





     