* {
    margin: 0;
}
@font-face {
    font-family:'android';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype')
}
header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#03A64A, #025940);
    padding-top:  30px;
    box-shadow: 5px 3px 5px 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}
header > h1 {
    text-align: center;
    color: white;
}
header > h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
    padding: 20px;
}
nav> a:hover {
    background-color: #6063626e;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;

}
body {
    background-color: #04bf8aaf;
}
main{
   
    margin: auto;
    background-color: white;
    max-width: 800px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
    
 
    
}
main > h1 {
    font-family: 'android';
    padding-bottom: 20px;
    color: #025940;
    
 
}
main > h2 {
    font-family: 'android';
    padding: 20px 5x 0px;
    color: #025940;
    background-color: #03a64a33;
    text-indent: 10px;
}
main > p{
    font-family: sans-serif;
    text-align: justify;
    text-indent: 30px;
    padding: 20px 0px;


}
main picture> img {
    padding: 20px 0px;
    
}
main > img{
    padding: 20px 0px;
    display: block;
    margin: auto;
    
}
#video > iframe  {
    display: block;
    margin: auto;

}
#video {
    padding: 20px 0px;
    background-color: #025940;
}
#extra{
    padding-top: 30px;

}
#extra > h3{
    padding: 10px;
    background-color: #03A64A;
    border-radius: 10px 10px 0px 0px;
    font-family: sans-serif;
}
main ul{
    display: inline-block;
}
#extra2 {
    padding: 20px;
  
    background-color: #04bf8a3f;
}
#extra2 > p {
    margin: 15px;
    text-indent: 30px;
    font-family: sans-serif;
}
#fim{
    padding-top: 20px;
    font-family: sans-serif;
    text-indent: 30px;
}
footer {
    background-color: #025940;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}




     